*{
box-sizing: border-box;
text-decoration: none;
float: inline-start;
margin: 0 auto;
}
.slider{
  display: flex;
  justify-content: space-between;
}

.white{
  color: #fff;
}
.slide{
  display: flex;
  justify-content: center;
  margin: 200px 150px;
  background-color: black;
}
.left-col{
  align-items: center;
  justify-content: center;
  margin-top: 50px;

}



.slider img{
  align-items: center;

}
.navbar{
  background-color: #90ee40;
  padding: 40px;
}
body{
  background-color:lightgrey;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 2px;
}
.about{
  width: 840px;
  line-height: 34px;
  letter-spacing: 1px;
}
.projects a{
  text-decoration: none;
  color: blueviolet;
  background-color: #90ee40;
}
a:hover{
  color: hotpink;
}
ul li{
  list-style: none;
  display: inline-block;
  margin-left: 150px;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  font-family: poppins, sans-serif;
  font-weight: bold;

}
.orange{
  color: orange;
  font-weight: bold;
}
.green{
  color: green;
  font-weight: bold;
}
.left-col p{
  left: 100px;
  text-align: center;
  font-size: 100px;
}
h2{
  color: #ff00ff;
}
.contact a{
  display: list-item;
  line-height: 40px;
  font-weight: 800;
}

h1{
  margin-top: 10px;

}
.footer{
  display: flex;
  justify-content: space-between;
  background-color: #90ee40;
  margin-top: 100px;
}
.edu{
  display: flex;
  justify-content: space-between;
}
.edu h4{
  margin-top: 100px;
}
.edu .school{
  margin-top: -50px;
}

@media screen and (max-width: 375px){

  .navbar{
    padding: 0 2rem;
    background-color: #000;
  }
  ul li{
    font-size: 1rem;
    justify-content: center;
    align-items: center;
  }

  
}